html, body {
    height: 100%; /* Garantiza que ocupen toda la altura */
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

/* Estilos para el canvas del gráfico */
canvas {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
}

/* Estilos para el enlace de navegación */
nav {
    text-align: center;
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilos para el gráfico container */
.chart-container {
    position: relative;
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
}

/* Botones y otros elementos interactivos */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}
